.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button[data-kind="submit"]:active {
	background: #ffc802;
}

.button[data-kind="submit"]:hover {
	background: #ffc802;
}

.button[data-kind="reset"]:active {
	background: #000000;
	color: #ffffff;
}

.button[data-kind="reset"]:hover {
	background: #000000;
}

.button[data-kind="reset"]:hover div  {
	color: #ffffff !important;
}